:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #112F4E;
  background-color: #FFF7E7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFF7E7;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: #BD4339;
  text-decoration: inherit;
}

a:hover {
  color: #a33930;
}

/* Global Loaders */
.eco-fullscreen-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #FFF7E7;
}

.eco-spinner {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(17, 47, 78, 0.1);
  border-left-color: #112F4E;
  /* Blue dark ECO */
  border-radius: 50%;
  animation: eco-spin 1s linear infinite;
}

@keyframes eco-spin {
  to {
    transform: rotate(360deg);
  }
}